@import 'vendor/normalize.less';
@import 'vendor/owl.less';
@import 'elements.less';
@import 'fonts/icons.less';
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:400,700,400italic,700italic);

@font-face {
    font-family: 'bebasregular';
    src: url('fonts/BEBAS___-webfont.eot');
    src: url('fonts/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BEBAS___-webfont.woff') format('woff'),
         url('fonts/BEBAS___-webfont.ttf') format('truetype'),
         url('fonts/BEBAS___-webfont.svg#bebasregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bebas_neueregular';
    src: url('fonts/BebasNeue-webfont.eot');
    src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BebasNeue-webfont.woff') format('woff'),
         url('fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('fonts/BebasNeue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

// Pruebas
@font-face {
    font-family: 'ikusuteitoregular';
    src: url('fonts/ikusuteito.eot');
    src: url('fonts/ikusuteito.eot?#iefix') format('embedded-opentype'),
         url('fonts/ikusuteito.woff') format('woff'),
         url('fonts/ikusuteito.ttf') format('truetype'),
         url('fonts/ikusuteito.svg#ikusuteitoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dj_grossnormal';
    src: url('fonts/djgross.eot');
    src: url('fonts/djgross.eot?#iefix') format('embedded-opentype'),
         url('fonts/djgross.woff') format('woff'),
         url('fonts/djgross.ttf') format('truetype'),
         url('fonts/djgross.svg#dj_grossnormal') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'rawengulksansregular';
    src: url('fonts/rawengulksans-094.eot');
    src: url('fonts/rawengulksans-094.eot?#iefix') format('embedded-opentype'),
         url('fonts/rawengulksans-094.woff') format('woff'),
         url('fonts/rawengulksans-094.ttf') format('truetype'),
         url('fonts/rawengulksans-094.svg#rawengulksansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
// Fin Pruebas



// Colores
@blanco: #fff;
@dark: #212121;
@darker: darken(@dark, 10%);
@negro: #010101;


// Site
a {
	text-decoration: none;
}

body {
	background: darken(@blanco, 3%);
	font-family: 'rawengulksansregular';
	letter-spacing: 1px;
}

h1 ,
h2 ,
h3 ,
h4 ,
h5 ,
h6 {
	font-family: 'bebas_neueregular', sans-serif;
	font-weight: normal;
}

img {
	height: auto;
	max-width: 100%;
}

#cabeza {
	background: rgba(255, 255, 255, 0.85);
	overflow: hidden;
	text-align: left;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;

	a {
		.transition;
		color: @negro;
		display: block;
		padding: 4px;
		letter-spacing: 0.2px;
		text-decoration: none;
		text-shadow: 0 0 1px #fff;
	}

	a:hover {
		color: @blanco;
		font-weight: bold;
		text-shadow: 0 0 1px #000;
	}

	h1 {
		color: @blanco;
		display: inline-block;
		margin: 0;
		padding: 0.3em 0 0 0;
		vertical-align: middle;

		a {
			background-image: url(../touch-icon-ipad-retina.png);
			background-position: left 50%;
			background-size: 40px 40px;
			background-repeat: no-repeat;
			display: block;
			padding-left: 46px;
			margin-left: 10px ;
			padding-top: 3px;
		}
	}

	nav {
		clear: both;

		ul {
			background: transparent;
			font-size: 1.5em;
			list-style-type: none;
			margin: 0;
			padding: 0;
			text-align: center;

			a {
				color: #000;
			}
		}
	}


	.toggle {
		border-bottom: none;
		clear: both;
		display: none;
		float: right;
		font-size: 2em;
		text-transform: uppercase;
		text-decoration: none;
		padding: 0px 16px 0 0;
		vertical-align: middle;
	}

	.toggle:hover {
		font-weight: normal;
	}

	.toggle:before {
		color: darken(@blanco, 20%);
		line-height: 1.5em;
		font-size: 1.2em;
	}
}

#content {
	padding-top: 57px;

	a {
		color: @negro;
	}

	.comic-description {
		font-size: 1.15em;
		padding: 0 3em 3em;
	}

	.compartir {
		float: right;
		padding-right: 3em;

		h4 {
			margin: 0;
			text-align: right;
		}

		.compartir-redes {
			margin: 0;
			padding: 1em 0 0 0;
			list-style-type: none;
			text-align: right;

			li {
				display: inline-block;
				vertical-align: bottom;

				a {
					border-radius: 17px;
					color: white;
					display: inline-block;
					background-color: #ccc;
					margin: 0.25em;
					height: 34px;
					text-align: center;
					line-height: 34px;
					width: 34px;
				}

				a:before {
					line-height: 34px;
					font-size: 14px;
				}

				a:after {
					display: none;
				}

				.twitter:hover { background-color: #00aced; }
				.facebook:hover { background-color: #3b5998; }
				.tumblr:hover { background-color: #32506d; }
				.reddit:hover { background-color: #FE4400; }
				.stumbleupon:hover { background-color: #EA4B24; }
			}
		}
	}

	.creadores {
		padding: 0;
		list-style-type: none;
		> li {
			background-color: white;
			padding: 1em;
			margin-bottom: 4em;
		}

		> li li:after {
			display: none;
		}
	}

	.redes {
		list-style-type: none;
		margin: 0;
		padding: 0;

		li {
			margin: 0;
		}
	}
}

#flechas {
	padding: 0 3em 8em;

	a {
		display: block;
		background-image: url(../img/prev.svg);
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: 64px 64px;
		font-size: 0;
		color: transparent;
		width: 70px;
		height: 70px;
	}

	#anterior {
		float: left;
	}
	#siguiente { 
		float:  right; 
		background-image: url(../img/next.svg);
	}
}

	.js #cabeza {
		nav {
			max-height: 0;
			overflow: hidden;
			.transition( max-height, 0.4s, ease-in-out );
		}

		.toggle {
			display: inline-block;
		}
	}

	.show-menu #cabeza {
		nav {
			max-height: 150px;
		}

		.toggle {
			background-color: transparent;
		}
	}

#footer {
	background: @dark;
	color: @blanco;
	padding: 4px 1em;
	position: relative;
	text-align: left;

	.redes-propias {
		position: absolute;
		right: 15px;
		top: 3px;

		a {
			color: white;
		}

		a:before {
			line-height: 20px;
			font-size: 16px;
			margin: 0;
			width: 20px;
		}
	}

	p {
		margin: 0;

		img {
			margin-right: 5px;
		}
	}
}

#zoom-area {
	background: white;
	display: none;
	left: 0;
	overflow: hidden;
	position: absolute;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 100;

	.zoom-close {
		color: #000;
		display: inline-block;
		font-family: 'bebas_neueregular', sans-serif;
		font-size: 1.3em;
		position: absolute;
		right: 20px;
		top: 20px;
		z-index: 1000;
	}

	.zoom-wrapper {
		width: 100%;
		margin: 0.3em;

		img {
			-webkit-transform-origin:50% 50%;
			   -moz-transform-origin:50% 50%;
			    -ms-transform-origin:50% 50%;
			     -o-transform-origin:50% 50%;
        			transform-origin:50% 50%;
		}
	}
}

.coming-soon {
	padding: 3em 6em;

	h3 {
		font-size: 2.2em;

		span {
			font-size: 1.6em;
			font-weight: bold;
		}

		strong {
			font-size: 1.3em;
		}
	}
}

.grid {
	list-style-type: none;
	margin: 1em;
	padding: 0;
	text-align: center;

	li {
		.box-shadow( 0 0 5px rgba(0, 0, 0, 0.3));
		margin-bottom: 3em;
		line-height: 1.8em;

		h2 {
			margin: 0;
			padding-bottom: 0.4em;
		}
	}

	.item {
		display: block;
	}
}

.owl-theme .owl-controls {
	margin-top: 0;
}

.owl-theme .owl-controls .owl-buttons div {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	background-image: url(../img/prev.svg);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: 64px 64px;
	font-size: 0;
	color: transparent;
	border-radius: 0;
	display: none;
	position: absolute;
	left: 0;
	top: -57px;
	height: 100%;
	width: 40px;
}

.owl-theme .owl-controls .owl-buttons div.owl-next {
	background-image: url(../img/next.svg);
	left: auto;
	right: 0;
}

.owl-theme .owl-controls .owl-pagination {
	padding: 0 3em;
}

.owl-theme .owl-controls .owl-page span.owl-numbers {
	color: #000;
	background-color: transparent;
	font-family: 'dj_grossnormal';
	font-size: 1.5em;
	height: 30px;
	margin: 5px 0 0;
	padding: 2px 8px;
}

.paginas {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}

.single {
	margin: 0 auto;
	max-width: 960px;
	padding: 0 1em;
}

@media only screen and ( min-width: 615px ) {
	.creadores {

		> li {
			clear: both;
		}

		> li img {
			float: left;
			margin: 1.5em; 
			max-width: 250px;
		}

		> li:nth-child(even) {
			text-align: right;

			img {
				float: right;
			}
		}

		> li:nth-child(even) li:before ,
		> li:nth-child(odd) li:after {
			display: none;
		}

		> li:nth-child(even) li:after {
			display: inline-block !important;
			font-family: Flaticon;
			font-style: normal;
			line-height: 20px;
			margin-left: 0px;
			text-align: center;
			width: 35px;
			font-size: 18px;
		}

	}
}

@media only screen and ( min-width: 900px ) { 
	.owl-theme .owl-controls .owl-buttons div {
		display: block;
	}
}

@media only screen and (orientation : landscape ){
	.grid {
		li {
			margin-left: 1%;
			margin-right: 1%;
			width: 30%;
			display: inline-block;
			vertical-align: top;
		}
	}
}

@media only screen and (orientation : portrait ){
	.grid {
		li {
			width: 45%;
			margin-left: 1%;
			margin-right: 1%;
			display: inline-block;
			vertical-align: top;
		}
	}
}

.visually-hidden {
	display: none;
}

/* Owl */
.owl-item img,
.owl-wrapper {
	max-height: 100%;
}

/* HELPERS */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}