doctype
html.no-js
  head
    title #{title}
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")

    if current.path[0] == 'comic'
        - var paginas = []; for( var i=0; i < pages; i++ ){ paginas.push( i ) };

        - for (i = pages; i--)
            - var imagen = uri+"/comic/"+slug+".img/"+i+".jpg";
            meta(property='og:image', content=imagen)
        
        - var encoded = encodeURIComponent( imagen );
        - var ogdata = {title: 'Surreal Comics - '+title, url: 'http://www.surrealcomics.org/comic/'+slug, favicon: '/favicon.ico', description: 'Surreal Comics'};

    else
        - var ogdata = {title: 'Surreal Comics', url: 'http://www.surrealcomics.org/', image: 'http://www.surrealcomics.rg/touch-icon-ipad-retina.png', favicon: '/favicon.ico', description: 'Surreal Comics'};

    each val,key in ogdata 
        meta(property='og:'+key, content=val)

    link(rel="apple-touch-icon", href="/touch-icon-iphone.png") 
    link(rel="apple-touch-icon", sizes="76x76", href="/touch-icon-ipad.png") 
    link(rel="apple-touch-icon", sizes="120x120", href="/touch-icon-iphone-retina.png")
    link(rel="apple-touch-icon", sizes="152x152", href="/touch-icon-ipad-retina.png")
    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

    link(rel="stylesheet", href="/css/surreal.css")
    script(src="/js/modernizr.js")
  body
    #wraper
        != partial("_parts/header.jade")
        #content
            if current.path[0] == 'comic'
                != partial("comic/_index.jade")
            else
                != yield
        != partial("_parts/footer.jade")

    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js")
    script(src="/js/plugins.js")
    script(src="/js/surreal.js")

    script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-40611218-1', 'surrealcomics.org');
        ga('send', 'pageview');
