doctype
html.no-js
  head
    title #{title}
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")

    link(rel="apple-touch-icon", href="/touch-icon-iphone.png") 
    link(rel="apple-touch-icon", sizes="76x76", href="/touch-icon-ipad.png") 
    link(rel="apple-touch-icon", sizes="120x120", href="/touch-icon-iphone-retina.png")
    link(rel="apple-touch-icon", sizes="152x152", href="/touch-icon-ipad-retina.png")
    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

    link(rel="stylesheet", href="/css/surreal.css")
    script(src="/js/modernizr.js")
  body
    #wraper
        != partial("_parts/header.jade")
        #content
            if current.path[0] == 'comic'
                != partial("comic/_index.jade")
            else
                != yield
        != partial("_parts/footer.jade")

    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js")
    script(src="/js/plugins.js")
    script(src="/js/surreal.js")
