doctype
html.no-js
  head
    title #{title}
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/css/surreal.css")
    script(src="/js/modernizr.js")
  body
    #wraper
        != partial("_parts/header.jade")
        #content
            if current.path[0] == 'comic'
                != partial("comic/_index.jade")
            else
                != yield
        != partial("_parts/footer.jade")

    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js")
    script(src="/js/plugins.js")
    script(src="/js/surreal.js")
