footer#footer
    p
        a(rel='license', target="_blank", href='http://creativecommons.org/licenses/by-nc/4.0/')
            img(valign="middle", alt='Licencia Creative Commons', style='border-width: 0;', src='http://i.creativecommons.org/l/by-nc/4.0/80x15.png')
        |  Surreal Comics

    div.redes-propias
        a.flaticon-social(href="https://twitter.com/surrealcomics", target="_blank", title="Twitter")
        a.flaticon-facebook12(href="https://facebook.com/surrealcomics.org", target="_blank", title="Facebook")
        a.tumblr(href="http://surrealcomics.tumblr.com", title="Tumblr")
            img(valign="middle", style='border-width: 0;', src='/img/tumblr-logo1.png', width="16")
        a.reddit.flaticon-like18(href="http://surrealcomics.mercadoshops.com.co", title="Tienda Surreal")