footer#footer
    p
        a(rel='license', target="_blank", href='http://creativecommons.org/licenses/by-nc/4.0/')
            img(valign="middle", alt='Licencia Creative Commons', style='border-width: 0;', src='http://i.creativecommons.org/l/by-nc/4.0/80x15.png')
        |  Surreal Comics

    div.redes-propias
        a.flaticon-social(href="https://twitter.com/surrealcomics", target="_blank", title="SurrealComics Twitter")
        a.flaticon-facebook12(href="https://facebook.com/surrealcomics", target="_blank", title="SurrealComics Facebook")