header#cabeza

    h1 
        a(href="/") SurrealComics

    a.toggle.flaticon-menu10(href="#") 
        span.visually-hidden Menu
        
    nav
        ul
            li
                a(href="/") Inicio
            li
                a(href="/creadores/") Creadores
            li
                a(href="/links/") Links

