header#cabeza

    h1 
        a(href="/") SurrealComics

    nav
        ul
            li
                a(href="#") Inicio
            li
                a(href="#") Creadores
            li
                a(href="#") Links

    a.toggle(href="#") Menu
