.single
  h1 LINKS

    p en
      strong ESPAÑOL

    p
      li
        a(title='TIK TOK', href='http://www.tiktokcomics.com/') Tik Tok Cómics
      li
        a(title='Niebla Cómic', href='http://nieblacomic.com/') Niebla
      li
        a(title='GO UP Cómics', href='http://http://goupcomics.com/') GO UP
      li
        a(title='Nahualli Comics', href='http://nahuallicomics.blogspot.com/') Nahualli
      li
        a(title='Let\'s Pacheco', href='http://letspacheco.com/') Let’s Pacheco
      li
        a(title='Mr Z', href='http://zombiedibujando.blogspot.com/') Zombie Dibujando
      li
        a(title='El señor Juanito', href='http://elsenorjuanito.blogspot.com/') El señor Juanito
      li
        a(title='Felipe Camargo', href='http://www.felipecamargorojas.com/') Felipe Camargo
      li
        a(title='Luto', href='http://lutocorps.blogspot.com/') Luto Corps
      li
        a(title='Original Shi(r)t', href='http://originalshirt.blogspot.com/') Shi(r)t
      li
        a(title='Mariana Gil', href='http://chicosconpoderes.blogspot.com/') Chicos con poderes
      li
        a(title='El Globoscopio', href='http://www.elgloboscopio.com/') El Globoscopio
      li
        a(title='Genry Diaz', href='http://www.genrydiaz.blogspot.com/') Henry Diaz
      li
        a(title='Camilo Aguirre', href='http://ceavhistorietas.blogspot.com/') Camilo Aguirre
      li
        a(title='Joni B', href='http://podriaserquesi.blogspot.com/') Podría ser que sí
      li
        a(title='Andrezzinho', href='http://bastonazosdeciego.blogspot.com/') Bastonazos de Ciego
      li
        a(title='Charla con Power Paola', href='http://lapoderosa.megustaescribir.com/') Charlas con Power Paola
      li
        a(title='Vinagreta', href='http://vinagreta.net/') Vinagreta
      li
        a(title='No más', href='http://nomascomics.blogspot.com/') No más cómics
      li
        a(title='Creepy Catacomb', href='http://thecreepycatacomb.blogspot.com/') The Creepy Catacomb
    p in
        strong English
    p  
      li
        a(title='Comics with too many words', href='http://www.viruscomix.com/subnormality.html') Subnormality
      li
        a(title='Oglaf', href='http://oglaf.com/') Oglaf
      li
        a(title='Dr McNinja', href='http://drmcninja.com/') Dr McNinja
      li
        a(title='A Softer World', href='http://www.asofterworld.com/') A Softer World
      li
        a(title='Emily Carroll', href='http://www.emcarroll.com/') Emily Carroll
      li
        a(title='Chicks on Comics', href='http://chicksoncomics.blogspot.com/') Chicks on Comics
      li
        a(title='Completely Serious Comics', href='http://completelyseriouscomics.com/') Completely Serious Comics
      li
        a(title='xkcd', href='http://xkcd.com/') xkcd
      li
        a(title='Zach Weiner', href='http://www.smbc-comics.com/') Saturday Morning Breakfast Cereal
      li
        a(title='Gun show', href='http://gunshowcomic.com/') Gun Show
      li
        a(title='Akimbo Comics', href='http://www.akimbocomics.com/') Akimbo Comics
      li
        a(title='Dresden Codak', href='http://dresdencodak.com/') Dresden Codak
      li
        a(title=':(', href='http://www.picturesforsadchildren.com/') Pictures for sad children
      li
        a(title='Electro Comics', href='http://www.electrocomics.com/') Electro Comics
