article.comic(id=slug)

    ul.paginas.owl-carousel
      - var paginas = []; for( var i=0; i < pages; i++ ){ paginas.push( i ) };

      each val,index in paginas
        li
            img.lazyOwl(data-src=slug+".img/"+index+".jpg")

    .comic-description
        != yield